<div class="camera-container">
  <div class="polaroid-camera">
    <button id="button" (click)="takePicture()"></button>
    <div id="circle"></div>
    <div class="lens">
      <div class="reflection"></div>
    </div>
    <div class="flash"></div>
    <div class="stripes"></div>
    <div class="bottom">
      <div class="bottom-front"></div>
    </div>
    <div class="slot"></div>
    <div class="shadow"></div>
    <div id="photo" class="photo">
      <div class="house">
        <div class="windows"></div>
      </div>
      <img *ngIf="imgUrl" [src]="imgUrl" alt="Captured Image" class="captured-image">
    </div>
  </div>

  <div *ngIf="loading" class="loading">Cargando...</div>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <div *ngIf="showSuccessMessage" class="success-message">¡Foto cargada en la galería!</div>
</div>